In [1]:
import pandas as pd

In [2]:
import pandas as pd

# Create the list of file names: filenames
filenames = ['./data/Gold.csv', './data/Silver.csv', './data/Bronze.csv']

# Create the list of three DataFrames: dataframes
dataframes = []
for filename in filenames:
    dataframes.append(pd.read_csv(filename))

# Print top 5 rows of 1st DataFrame in dataframes
print(dataframes[0].head())

     City  Edition      Sport Discipline             Athlete  NOC Gender  \
0  Athens     1896   Aquatics   Swimming       HAJOS, Alfred  HUN    Men
1  Athens     1896   Aquatics   Swimming  MALOKINIS, Ioannis  GRE    Men
2  Athens     1896   Aquatics   Swimming       HAJOS, Alfred  HUN    Men
3  Athens     1896   Aquatics   Swimming       NEUMANN, Paul  AUT    Men
4  Athens     1896  Athletics  Athletics       BURKE, Thomas  USA    Men

                        Event Event_gender Medal
0              100m freestyle            M  Gold
1  100m freestyle for sailors            M  Gold
2             1200m freestyle            M  Gold
3              400m freestyle            M  Gold
4                        100m            M  Gold

In [11]:
print(dataframes[1].head())
dataframes[1].head()

     City  Edition      Sport Discipline             Athlete  NOC Gender  \
0  Athens     1896   Aquatics   Swimming    HERSCHMANN, Otto  AUT    Men
1  Athens     1896   Aquatics   Swimming  CHASAPIS, Spiridon  GRE    Men
2  Athens     1896   Aquatics   Swimming    ANDREOU, Joannis  GRE    Men
3  Athens     1896   Aquatics   Swimming   PEPANOS, Antonios  GRE    Men
4  Athens     1896  Athletics  Athletics      HOFMANN, Fritz  GER    Men

                        Event Event_gender   Medal
0              100m freestyle            M  Silver
1  100m freestyle for sailors            M  Silver
2             1200m freestyle            M  Silver
3              400m freestyle            M  Silver
4                        100m            M  Silver

,City,Edition,Sport,Discipline,Athlete,NOC,Gender,Event,Event_gender,Medal
0,Athens,1896,Aquatics,Swimming,"HERSCHMANN, Otto",AUT,Men,100m freestyle,M,Silver
1,Athens,1896,Aquatics,Swimming,"CHASAPIS, Spiridon",GRE,Men,100m freestyle for sailors,M,Silver
2,Athens,1896,Aquatics,Swimming,"ANDREOU, Joannis",GRE,Men,1200m freestyle,M,Silver
3,Athens,1896,Aquatics,Swimming,"PEPANOS, Antonios",GRE,Men,400m freestyle,M,Silver
4,Athens,1896,Athletics,Athletics,"HOFMANN, Fritz",GER,Men,100m,M,Silver

# Note
The plural of index is both indexes and indices. Both are acceptable

Lets use the following:
 - indices: many index labes within index data structures
 - indexes: many pandas index data structures

# here is a refrence to another student's repo
https://trenton3983.github.io/files/projects/2019-03-23_merging_dataframes_with_pandas/2019-03-23_merging_dataframes_with_pandas.html

# here is an example of reading multiple csv files and reindexing them.
names_1981 = pd.read_csv('names1981.csv', header=None, names=['name','gender','count'], index_col=(0,1))
names_1881 = pd.read_csv('names1881.csv', header=None, names=['name','gender','count'], index_col=(0,1))

Create a new DataFrame common_names by reindexing names_1981 using the index attribute of the DataFrame names_1881 of older names.
Print the shape of the new common_names DataFrame. This has been done for you. It should be the same as that of names_1881.
Drop the rows of common_names that have null counts using the .dropna() method. These rows correspond to names that fell out of fashion between 1881 & 1981.
Print the shape of the reassigned common_names DataFrame. This has been done for you, so hit 'Submit Answer' to see the result!

###### Import pandas
import pandas as pd

###### Reindex names_1981 with index of names_1881: common_names
common_names = names_1981.reindex(names_1881.index)

###### Print shape of common_names
print(common_names.shape)

###### Drop rows with null counts: common_names
common_names = common_names.dropna()

###### Print shape of new common_names
print(common_names.shape)